.btn-primary, .btn-primary:visited .btn-primary:active {
    background-color: #FF9B71 !important;
    color: black; 
    border: 2px solid black;
    
}
.btn-primary:hover{
    background-color: #FFFD82 !important;
    color: black !important;
}