.btn-primary, .btn-primary:visited {
    background-color: #FF9B71 !important;
    color: black; 
    border: 2px solid black;
    
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #FFFD82 !important;
    color: black !important;
}
.btn-lg {
    --bs-btn-padding-y: 1.875rem;
    --bs-btn-padding-x: 3.75rem;
    --bs-btn-font-size: 4.5rem;
}

.text-dark {
    font-weight: bold;
}